---

- name: "Copy backend files to remote server"
  poll: 60
  copy:
    dest: /home/ubuntu/backend
    src: /root/project/backend/backend.tar.gz

- name: "Decompress backend source code"
  poll: 60
  shell: |
    cd /home/ubuntu/backend
    tar -xzvf backend.tar.gz
- name: "Build npm packages"
  poll: 60
  shell: |
    cd /home/ubuntu/backend
    npm run build
- name: "run migrations and save status to memstash.io"
  poll: 60
  shell: |
    cd /home/ubuntu/backend
    npm run migrations > migrations.txt
    cat migrations.txt
    curl -H "Content-Type: text/plain" -H "token: 43f5331f-b3fe-41b4-8f33-1ef7fd665b51" --request PUT --data $( grep -c "No migrations are pending" migrations.txt ) https://api.memstash.io/values/migration_status
- name: "use pm2 to run the node server"
  poll: 60
  shell: |
    cd /home/ubuntu/backend
    pm2 start npm -- run "start:dev"