version: 2.1

### It's a good practice to keep your commands at the top of the config file. In this project, you'll need at least 2 commands:

# commands:
#   destroy-environment:
#     description: Destroy backend and frontend cloudformation stacks given a workflow ID.
#     ...

#   revert-migration:
#     description: Revert the last migration if successfully run in the current workflow.
#     ...

jobs:
  hello-world: # Delete this job when you get started
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Say Hello
          command: |
            echo "Hello World"
  build-frontend:
      docker:
        - image: circleci/node
      steps:
        - checkout
        - run:
            name: Build Frontend
            command: |
              cd frontend
              npm i
              npm run build
  build-backend:
      docker:
        - image: circleci/node
      steps:
        - checkout
        - run:
            name: Build Backend
            command: |
              cd backend
              npm i
              npm run build
  test-frontend:
      docker:
        - image: circleci/node
      steps:
        - checkout
        - run:
            name: Test Frontend
            command: |
              cd frontend
              npm i
              npm run test
  test-backend:
      docker:
        - image: circleci/node
      steps:
        - checkout
        - run:
            name: Test Backend
            command: |
              cd backend
              npm i
              npm run test

  scan-frontend:
      docker:
        - image: circleci/node
      steps:
        - checkout
        - run:
            name: Audit Frontend
            command: |
              cd frontend
              npm i
              npm audit --audit-level=critical
  scan-backend:
      docker:
        - image: circleci/node
      steps:
        - checkout
        - run:
            name: Audit Backend
            command: |
              cd backend
              npm i
              npm audit --audit-level=critical

#  deploy-infrastructure:

#  configure-infrastructure:

#  run-migrations:

#  deploy-frontend:

#  deploy-backend:  

#  smoke-test:

#  cloudfront-update:

workflows:
  default:
    jobs:
      - hello-world
      - build-frontend
      - build-backend
      - test-frontend
      - test-backend
      - scan-frontend
      - scan-backend